/*Added CSS by me*/
.containerskill {
  margin: auto;
  box-sizing: border-box;
  width: 75%; /* Full width */
  background-color: #ddd; /* Grey background */
}
  
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-right: 10px;
  color: white; /* White text color */
}

#skills p {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  font-weight: bold;
}

.linkabout:link {
  color: #2c3e50;
}

.linkabout:visited {
  color: #2c3e50;
}

.csharp {width: 65%; background-color: #2c3e50;}
.unity {width: 70%; background-color: #2c3e50;}
.dotnet {width: 60%; background-color: #2c3e50;}
.java {width: 40%; background-color: #2c3e50;}
.html {width: 60%; background-color: #2c3e50;}
.css {width: 50%; background-color: #2c3e50;}
.javascript {width: 35%; background-color: #2c3e50;}
.versioncontrol {width: 35%; background-color: #2c3e50;}